body {
  font-family: 'Aeroport';
  }

  .marquee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  }

  .marquee .inner {
  position: relative;
  width: 100%;
  display: flex;
  color: white;
  }

  .marquee .inner > * {
  white-space: nowrap;
  padding: 0 1rem;
  }

 .img{
    width: 24px;
    height: 24px;
    margin: auto;
}
  .marquee-text {
    font-family: 'Aeroport';
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    margin-right: 48px;
    margin-left: 48px;
    text-decoration: none;
  }